@import "tailwindcss";

@theme {
  --color-brand-blue: #1d04ff;
  --color-grey-2: #7a7a7a;
  --font-rethink: var(--font-rethink-sans);
  --font-mono: var(--font-roboto-mono);
  --font-inter: var(--font-inter);
}

html,
body {
  background: #ffffff;
  color: #000000;
}
